*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(254, 246, 200);

}
.header{
    width: 98vw;
    height: 10vh;
    background-color: black;
    margin:auto ;
    margin-top: 10px;

}
.p{
    color: white;
    display: inline-flex;
    padding-top: 20px;
    padding-left: 25px;
    font-size: 20px
}
.left{
    float: left;
}
.one{
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
    width: 300px;
    height: 55px;
    background-color: blue;
}
.one p{
    padding-top: 13px;
    padding-left: 133px;

}
#one{
    margin-top: 10px;
}
.two{
    width: 45%;
    margin-top: 25px;
    margin-left: 20px;
}
.right{
    float: right;
}
.night{
    height: 105px;
    background-color: blueviolet;
    width: 430px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}
.night p {
    margin-top: 38px;
    margin-left: 190px;
    position: absolute;
    background-color: blueviolet;
    text-align: center;
}
.footer{
    margin: 10px;
    height: 60px;
    background-color: yellow;
    width: 98.7%;
    float: left;
    position: relative;
}
.footer p{
    background-color: yellow;
    margin-left: 48%;
    margin-top: 20px;
}




